@import "../../../resources/styles/vars.scss";

.playerBoxContainer {
    width: 400px;
    padding: $padding;
    border: 4px solid black;
    border-radius: $border-radius;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

.activePlayer {
    background-color: #306030;
}

.passedPlayer {
    background-color: #202020;
    color: #606060;
}

.playerTitleRow {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
}

.playerName {
    margin-left: 4px;
}

.content {
    color: black;
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
}
