@import "../../../resources/styles/vars";

.selectStrategyCardCard {
  width: 100%;
  max-width: 400px;
}

.strategyCardsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.strategyCardButton {
  background-color: inherit;
  color: white;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  border-width: 4px;
  border-style: solid;
  font-weight: bold;
  font-size: 24px;
  flex: 1;

  & > p {
    margin: 0 auto;
  }
}

.selectCardRow {
  display: flex;
  flex-direction: row;
  align-items: center;

  > :first-child {
    margin: 0 $marginLarge;
  }
}

.strategyCardLeadership {
  border-color: $leadershipColor;
}
.strategyCardDiplomacy {
  border-color: $diplomacyColor;
}
.strategyCardPolitics {
  border-color: $politicsColor;
}
.strategyCardConstruction {
  border-color: $constructionColor;
}
.strategyCardTrade {
  border-color: $tradeColor;
}
.strategyCardWarfare {
  border-color: $warfareColor;
}
.strategyCardTechnology {
  border-color: $technologyColor;
}
.strategyCardImperial {
  border-color: $imperialColor;
}
