@import "../../../../resources/styles/vars.scss";

.performed {
  color: darkgreen;
}

.skipped {
  color: darkred;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > * {
    flex: 1;
    &:first-child {
      margin-right: $margin;
    }

    &:last-child {
      margin-left: $margin;
    }
  }
}

.genericSecondaryContainer {
  width: 100%;
}

.alignedLegend {
  display: flex;
  flex-direction: row;
}

.horizontalPadding {
  padding: 0 $paddingLarge;
}

.genericPlayerContainer {
  margin-top: 0;
}
