@import "../../../../resources/styles/vars.scss";

.actionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -1em;
}

.performed {
  width: 2em;
  height: 2em;
  color: green;
}

.skipped {
  width: 2em;
  height: 2em;
  color: #c02525;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > * {
    flex: 1;
    &:first-child {
      margin-right: $margin;
    }

    &:last-child {
      margin-left: $margin;
    }
  }
}

.genericSecondaryContainer {
  width: 100%;
}

.alignedLegend {
  display: flex;
  flex-direction: row;
}

.horizontalPadding {
  padding: 0 $paddingLarge;
}

.genericPlayerContainer {
  margin-top: 0;
}
