@import "../../../resources/styles/vars.scss";

.lawsViewContainer {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    margin-bottom: $marginLarge;
  }
}

.lawsTable {
  width: 100%;
  border-collapse: collapse;

  & th {
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  }
}

.deleteLawButton {
  border: none;
  background-color: inherit;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // justify-content: space-between;

  > * {
    margin: $marginLarge 0 0 0;
  }
}

.resolveOutcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & > * {
    margin-bottom: $marginLarge;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
