@import "../resources/styles/vars.scss";

.mainMenuCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleText {
  margin: 1em;
  margin-bottom: 3em;

  > h1 {
    color: white;
    text-transform: uppercase;
    margin: 0;
  }
}

// NEW GAME

.newGameLink {
  position: relative;
  text-decoration: none;
  margin-bottom: $margin;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width 200ms ease;

    background: linear-gradient(
      to right,
      #223a98 0%,
      #2b67b0 51%,
      #9ad0d8 100%
    );
  }

  &:hover {
    text-decoration: none;
    -webkit-text-stroke: 1px white;

    &::before {
      width: 100%;
    }

    h2 {
      background-image: linear-gradient(
        to bottom right,
        #223a98 0%,
        #2b67b0 51%,
        #9ad0d8 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  h2 {
    margin: 0;
    overflow: hidden;
    text-transform: uppercase;
  }
}

.newGameLinkDisabled {
  color: gray;
  cursor: default;
}

// JOIN GAME

$char-w: 1ch;
$gap: 0.5 * $char-w;
$n-char: 8;
$in-w: $n-char * ($char-w + $gap);
$underline-color: white;

.gameIdContainer {
  & > input {
    display: block;
    border: none;
    padding: 0;
    width: $in-w;
    color: white;
    background: repeating-linear-gradient(
        90deg,
        $underline-color 0,
        $underline-color $char-w,
        transparent 0,
        transparent $char-w + $gap
      )
      0 100% / #{$in-w - $gap} 2px no-repeat;
    font-family: var(--source-code-pro);
    letter-spacing: $gap;
  }
}

.gameIdInputContent {
  position: relative;
  z-index: 10;
  color: white;
  max-width: 150px;
  align-self: center;
  margin-top: 1em;
}

.inputContainer {
  overflow: hidden;
  position: relative;
  padding: 2px;
  padding-top: 1em;
}
.inputContainerContent {
  position: relative;
  width: 100%;

  input {
    display: block;
    width: $in-w;
    height: 30px;
    line-height: 30px;
    font-size: 14px;

    border: 0;
    color: white;
    border-bottom: 1px solid #ccc;
    outline: none;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    font-family: var(--source-code-pro);

    &:focus,
    &:valid {
      & ~ label {
        color: skyblue;
        transform: translateY(-20px);
        font-size: 0.825em;
        cursor: default;
      }
    }

    &:focus {
      & ~ .inputUnderline {
        width: 100%;
      }
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    color: #ccc;
    cursor: text;
    transition: all 200ms ease-out;
    z-index: 10;
  }
}

.inputUnderline {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #223a98 0%, #2b67b0 51%, #9ad0d8 100%);
  transition: all 200ms ease-out;
}
