@import "../resources/styles/vars.scss";

.titleText {
  color: white;
  text-transform: uppercase;
  margin: 1em;
}

.newGameContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newGameLink {
  position: relative;
  text-decoration: none;
  margin-bottom: $margin;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  &:hover {
    text-decoration: none;

    &::before {
      transform: scaleX(1);
    }

    h2 {
      background-image: linear-gradient(
        to bottom right,
        #9ad0d8 0%,
        #2b67b0 51%,
        #223a98 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // -webkit-text-stroke-color: #c0c0c0;
    }
  }

  h2 {
    margin: 0;
    overflow: hidden;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #ffffff;
    -webkit-text-fill-color: rgba(0, 0, 0, 1);
  }
}

.gameIdInput {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: $dark-primary-color;
  }
}

.gameIdInputContent {
  position: relative;
  padding: 44px 55px;
  background: #fff;
  z-index: 10;
}

.inputContainer {
  overflow: hidden;
  position: relative;
  padding: 15px 0 28px 200px;

  &-title {
    position: absolute;
    top: 15px;
    left: 0;
    width: 200px;
    height: 30px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
  }

  &-content {
    position: relative;
    width: 100%;
    input {
      width: 100%;
      height: 30px;
      box-sizing: border-box;
      line-height: 30px;
      font-size: 14px;
      border: 0;
      background: none;
      border-bottom: 1px solid #ccc;
      outline: none;
      border-radius: 0;
      -webkit-appearance: none;
      &:focus,
      &:valid {
        & ~ label {
          color: $accent-color;
          transform: translateY(-20px);
          font-size: 0.825em;
          cursor: default;
        }
      }
      &:focus {
        & ~ .underline {
          width: 100%;
        }
      }
    }
    label {
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      line-height: 30px;
      color: #ccc;
      cursor: text;
      transition: all 200ms ease-out;
      z-index: 10;
    }
    .underline {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 2px;
      background: $accent-color;
      transition: all 200ms ease-out;
    }
  }
}
