@import "../../vars.scss";

.commit-button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tech-change-container {
  border-radius: $border-radius;
  margin-bottom: 0.5rem;
}

.plagiarize-table {
  & > tbody select {
    width: 100%;
  }
}

.divert-funding-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    width: 100%;
  }

  & > :last-child {
    margin-top: $margin-large;
  }
}
