@import "../../vars.scss";

.select-strategy-card-card {
  width: 100%;
  max-width: 400px;

  &>h2 {
    text-align: center;
  }
}

.strategy-cards-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.strategy-card-button {
  background-color: inherit;
  color: white;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  border-width: 4px;
  border-style: solid;
  font-weight: bold;
  font-size: 24px;
  flex: 1;

  &>p {
    margin: 0 auto;
  }
}

.select-card-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  > :first-child {
    margin: 0 $margin-large;
  }
}

.strategy-card-leadership {
  border-color: $leadership-color;
}

.strategy-card-diplomacy {
  border-color: $diplomacy-color;
}

.strategy-card-politics {
  border-color: $politics-color;
}

.strategy-card-construction {
  border-color: $construction-color;
}

.strategy-card-trade {
  border-color: $trade-color;
}

.strategy-card-warfare {
  border-color: $warfare-color;
}

.strategy-card-technology {
  border-color: $technology-color;
}

.strategy-card-imperial {
  border-color: $imperial-color;
}

.naalu-telepathy {
  display: flex;
  font-size: 18px;
  align-items: center;
  margin-bottom: 8px;

  > :first-child {
    margin: 0 $margin-large;
  }
}

.naalu-telepathy-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.naalu-telepathy-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
