@import "../../../resources/styles/vars.scss";

.agendaPhaseContainer {
  display: flex;
  flex-direction: column;

  & > :first-child {
    margin-bottom: $marginLarge;
  }

  & > * {
    width: 100%;
  }

  @media (min-width: 800px) {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-start;

    & > :last-child {
      margin-left: auto;
      margin-right: auto;
    }

    & > * {
      max-width: 400px;
    }
  }
}

.revealAgendaTitle {
  margin: 0;
}

.revealAgendaBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  > * {
    margin-bottom: $marginLarge;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.castVoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    width: 100%;
    margin-bottom: $marginLarge;

    &:last-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }
}

.resolveOutcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & > * {
    margin-bottom: $marginLarge;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.agendaPhaseCompleteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
