@import "../../../resources/styles/vars.scss";

.agendaPhaseContainer {
  display: flex;
  flex-direction: column;

  & > :first-child {
    margin-bottom: $marginLarge;
  }

  @media (min-width: 800px) {
    flex-direction: row-reverse;
    justify-content: space-between;

    & > :first-child {
      margin-left: $marginLarge;
    }
  }
}

.revealAgendaTitle {
  margin: 0;
}

.revealAgendaBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  > * {
    margin-bottom: $marginLarge;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.castVoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    width: 100%;
    margin-bottom: $marginLarge;

    &:last-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }
}
