@import "../../../resources/styles/vars.scss";

.planetViewContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > :first-child {
    margin-bottom: $marginLarge;
  }
}

.playerPlanetCardsContainer {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 700px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

.playerPlanetsTableContainer {
  padding: $padding;
  padding-top: 0;
  margin: $marginLarge;
}

.playerPlanetsTable {
  width: 320px;
  border-collapse: collapse;
}

.playerNameRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.borderBottomRow {
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.unclaimPlanetButton {
  border: none;
  background-color: inherit;
  color: black;
  height: 16px;
  padding-top: 0;
  padding-bottom: 0;

  :hover {
    color: #500000;
  }
}

.planetFilter {
  width: 100%;
  border-radius: $border-radius;
  padding: 0 $padding;
}

.unclaimedPlanetsContainer {
  min-height: 100vh; /* To prevent from scrolling up whenever we filter the planets list */
  width: 100%;
  margin-top: $marginLarge;
    
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.planetRow {
  > td {
    border-top: 2px solid black;
  }
}

.attachmentRow {
  > td {
    border-top: 1px solid rgba(0, 0, 0, 0.8);
  }
}

.attachmentRowText {
  color: limegreen;
}

.addPlanetAttachmentContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: $marginLarge 0;
  > * {
    margin-bottom: $marginLarge;
  }
}

.whiteText {
  color: white;
}

.grayText {
  color: gray;
}

.rotate90 {
  rotate: 90deg;
}
