@import "../../../vars.scss";

.planet-tech-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > :first-child {
    border-right: 2px solid white;
  }

  > * {
    flex: 1;
    padding: 0 0.5rem;
  }
}

.planet-content {
  color: $primary-text-color;
  font-size: $font-size-small;
}

.resource-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.planets-count {
  border: 1px solid gold;
  box-shadow: inset 0 0 4px 2px gold;
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;

  > p {
    margin-top: 4px;
    text-align: center;
  }
}

.tech-content {
  color: $primary-text-color;
  font-size: $font-size-small;
}

.tech-icon {
  color: blue;
}
