.info-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit;

  border: 2px solid white;
  border-radius: 50%;
  height: 1.4rem;
  width: 1.4rem;
  margin-left: 1em;
  margin-right: 1em;
  color: white;

  padding: 4px;
  padding-top: 0;

  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
