@import "../../../resources/styles/vars.scss";

.scoreViewContainer {
    width: 100%;
    max-width: 800px;
}

.revealObjectiveForm {
    margin-bottom: $marginLarge;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.revealObjectiveRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    &:not(:last-child) {
        margin-bottom: $marginLarge;
    }

    > :first-child {
        flex: 1;
        margin-right: $marginLarge;
    }
}

.borderTop {
    border-top: 1px solid black; 
    padding: $padding;
}

.borderBottom {
    border-bottom: 1px solid black;
}

.scoreViewTableWrapper {
    max-width: 100%;
    overflow-x: scroll;
}

.scoreViewTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: $marginLarge;
}

.revealObjectiveColumn {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.scoreViewTableHeader {
    border-bottom: 2px solid black;
    padding: 4px;
}

.stageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.horizontalLine {
    height: 4px;
    flex: 1;
}

.stageText {
    flex: 1;
    border-width: 4px;
    border-style: solid;
    border-radius: $border-radius;
}

$stage-one-color: orange;
$stage-two-color: rgb(110, 110, 255);
$secret-color: rgb(240, 50, 50);

.stageOneBackgroundColor {
    background-color: $stage-one-color;
}

.stageOneColor {
    color: $stage-one-color;
}

.stageTwoColor {
    color: $stage-two-color;
}

.stageTwoBackgroundColor {
    background-color: $stage-two-color;
}

.secretColor {
    color: $secret-color;
}

.secretBackgroundColor {
    background-color: $secret-color;
}

.factionButton {
    filter: brightness(0.3) contrast(0.5);
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.factionButtonSelected {
    filter: brightness(1) contrast(1);
    transform: scale(1.3);

    &:hover {
        transform: scale(1.2);
    }
}

.playerSecretTitleRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    & > h6 {
        margin-left: $marginLarge;
        margin-right: $marginLarge;
    }

    & > :last-child {
        flex: 1;
        background-color: $primaryTextColor;
        height: 2px;
    }
}

.supportForTheThroneTable {
    width: 100%;

    & tr {
        td:nth-child(1) {
            width: 35px;
        }

        td:nth-child(2) {            
            > * {
                width: 100%;
            }
        }

        td:nth-child(3) {
            width: 1.5rem;
        }

        td:nth-child(4) {
            > * {
                width: 100%;
            }
        }

        td:nth-child(5) {
            width: 50px;

            > * {
                width: 100%;
            }
        }
    }
}

.imperialTable { 
    
}

.spftttImperialContainer {


    @media (min-width: $widthMedium) {
        display: flex;
        flex-direction: row;

        & > :nth-child(2) {
            margin-left: 2rem;
        }
    }
}