@import "../vars.scss";

.game-info-card {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > :last-child {
    margin-top: 0.5em;
  }
}

.view-mode-button-group {
  display: flex;
  flex-direction: row;

  & > button {
    border-radius: 0;

    &:not(:first-child) {
      border-left-width: 0;
    }

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:disabled:not(:last-child) {
      border-right: 1px solid white;
    }
  }
}
