@import "../vars.scss";

.view-mode-button-group {
  display: flex;
  flex-direction: row;

  & > button {
    border-radius: 0;

    &:not(:first-child) {
      border-left-width: 0;
    }

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:disabled:not(:last-child) {
      border-right: 1px solid white;
    }
  }
}
