@import "../vars.scss";

.create-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-game-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.view-mode-button-group {
  display: flex;
  flex-direction: row;

  & > button {
    border-radius: 0;

    &:not(:first-child) {
      border-left-width: 0;
    }

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:disabled:not(:last-child) {
      border-right: 1px solid white;
    }
  }
}

.right-aligned-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: $margin;
}
