@import "vars";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $primaryTextColor;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 42px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  font-weight: 600;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;

  &:hover {
    text-decoration: underline;
  }
}

fieldset {
  border-radius: $border-radius;
  margin: $marginLarge 0;
  padding: $paddingLarge;
}

.card {
  background-color: $backgroundColor;
  padding: $padding;
  border-radius: $border-radius;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  height: 100vh;

  @media (min-width: $widthSmall) {
    padding: 1rem 0.5rem;
  }

  @media (min-width: $widthMedium) {
    padding: 3rem;
  }
}

.marginTop {
  margin-top: $marginLarge;
}

.styleLeadership {
  color: $leadershipColor;
  border-color: $leadershipColor;
}
.styleDiplomacy {
  color: $diplomacyColor;
  border-color: $diplomacyColor;
}
.stylePolitics {
  color: $politicsColor;
  border-color: $politicsColor;
}
.styleConstruction {
  color: $constructionColor;
  border-color: $constructionColor;
}
.styleTrade {
  color: $tradeColor;
  border-color: $tradeColor;
}
.styleWarfare {
  color: $warfareColor;
  border-color: $warfareColor;
}
.styleTechnology {
  color: $technologyColor;
  border-color: $technologyColor;
}
.styleImperial {
  color: $imperialColor;
  border-color: $imperialColor;
}

.playerColorBackgroundBlack {
  background-color: $playerColorBlack;
}
.playerColorBackgroundBlue {
  background-color: $playerColorBlue;
}
.playerColorBackgroundGreen {
  background-color: $playerColorGreen;
}
.playerColorBackgroundRed {
  background-color: $playerColorRed;
}
.playerColorBackgroundYellow {
  background-color: $playerColorYellow;
}
.playerColorBackgroundPurple {
  background-color: $playerColorPurple;
}
.playerColorBackgroundOrange {
  background-color: $playerColorOrange;
}
.playerColorBackgroundPink {
  background-color: $playerColorPink;
}

.playerColorBorderBlack {
  border-color: $playerColorBlack;
}
.playerColorBorderBlue {
  border-color: $playerColorBlue;
}
.playerColorBorderGreen {
  border-color: $playerColorGreen;
}
.playerColorBorderRed {
  border-color: $playerColorRed;
}
.playerColorBorderYellow {
  border-color: $playerColorYellow;
}
.playerColorBorderPurple {
  border-color: $playerColorPurple;
}

.playerColorBlack {
  color: $playerColorBlack;
}
.playerColorBlue {
  color: $playerColorBlue;
}
.playerColorGreen {
  color: $playerColorGreen;
}
.playerColorRed {
  color: $playerColorRed;
}
.playerColorYellow {
  color: $playerColorYellow;
}
.playerColorPurple {
  color: $playerColorPurple;
}
.playerColorOrange {
  color: $playerColorOrange;
}
.playerColorPink {
  color: $playerColorPink;
}
