@import "vars";

* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: #d0d0d0;
    background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 42px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  font-weight: 600;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.card {
  background-color: $backgroundColor;
  border-radius: 6px;
  padding: 8px
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}