.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectAnotherPlanetContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
