@import "../../../resources/styles/vars.scss";

.tacticalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: $widthMedium) {
    max-width: 400px;
  }
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectAnotherPlanetContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.takePlanetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: $marginLarge;

  > * {
    flex: 1;
    margin-top: $marginLarge;
  }
}
