[package]
name = "api"
version = "0.1.0"
edition = "2024"

[dependencies]
dioxus = { workspace = true, features = ["fullstack"] }
anyhow = "1.0"
serde = { version = "1", features = ["derive", "rc"] }
ti_helper_game_data = { workspace = true }

# Server only
serde_json = { version = "1", optional = true }
chrono = { version = "0.4.31", features = ["serde"], optional = true }
clap = { version = "4.4.7", features = ["derive", "env"], optional = true }
diesel = { version = "2.1.3", features = [
    "serde_json",
    "chrono",
], optional = true }
diesel-async = { version = "0.4.1", features = [
    "postgres",
    "deadpool",
    "async-connection-wrapper",
], optional = true }
dotenvy = { version = "0.15.7", optional = true }
tokio = { version = "1.28", features = ["full"], optional = true }
log = { version = "0.4.20", optional = true }
pretty_env_logger = { version = "0.5.0", optional = true }
cron = { version = "0.12.0", optional = true }
thiserror = { version = "1", optional = true }

ti_helper_db = { workspace = true, optional = true }
ti_helper_game_logic = { workspace = true, optional = true }
ti_helper_milty = { workspace = true, optional = true }

[build-dependencies]
serde = { version = "1", features = ["derive", "rc"] }

# Server only
dotenvy = { version = "0.15.7", optional = true }
serde_json = { version = "1", optional = true }
chrono = { version = "0.4.31", features = ["serde"], optional = true }
ti_helper_game_logic = { workspace = true, optional = true }

[features]
server = [
    "dioxus/server",
    "ti_helper_game_data/server",
    "dep:serde_json",
    "dep:chrono",
    "dep:clap",
    "dep:diesel",
    "dep:diesel-async",
    "dep:dotenvy",
    "dep:thiserror",
    "dep:tokio",
    "dep:log",
    "dep:pretty_env_logger",
    "dep:cron",
    "dep:ti_helper_db",
    "dep:ti_helper_game_logic",
    "dep:ti_helper_milty",
]

default = [
    #"server"
]
