* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  background-image: url("/background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}