$padding: 4px;
$padding-large: 8px;
$margin: 4px;
$margin-large: 8px;
$border-radius: 8px;

$fontSize-small: 10px;

$primary-text-color: #d0d0d0;
$background-color: #404040;

$width-small: 40em;
$width-medium: 48em;
$width-large: 64em;
$width-extra-large: 80em;

$leadership-color: red;
$diplomacy-color: orange;
$politics-color: yellow;
$construction-color: green;
$trade-color: darkcyan;
$warfare-color: lightblue;
$technology-color: blue;
$imperial-color: purple;

$player-color-black: black;
$player-color-blue: blue;
$player-color-green: green;
$player-color-red: red;
$player-color-yellow: yellow;
$player-color-purple: purple;
$player-color-orange: orange;
$player-color-pink: hotpink;
