@import "../../../resources/styles/vars.scss";

.commitButtonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.techChangeContainer {
    border-radius: $border-radius;
    margin-bottom: 0.5rem;
}
