[package]
name = "web"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true, features = ["router", "fullstack"] }
dioxus-free-icons = { version = "0.10.0", features = ["font-awesome-brands", "font-awesome-regular", "font-awesome-solid"] }
ui = { workspace = true }

[features]
default = []
web = ["dioxus/web"]
server = ["dioxus/server", "ui/server"]
