@import "../../../resources/styles/vars";

.endActionPhaseViewContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & > *:not(:last-child) {
    margin-bottom: $marginLarge;
  }
}
