.strategyCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.strategyCardButton {
    border: 4px solid black;
    border-radius: 6px;
    padding: 4px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    margin: 8px 0;
    display: flex;
    flex-direction: row;

    &:disabled {
        border-color: black;
        background-color: #505050;

        &:hover {
            cursor: default;
            filter: none;
        }

        &:active {
            filter: none;
        }
    }

    &:hover {
        filter: brightness(0.8);
        cursor: pointer;
    }

    &:active {
        filter: brightness(0.6);
    }

    & > p {
        margin: 0 auto;
    }
}

.strategyCardLeadership {
    border-color: red;
}
.strategyCardDiplomacy {
    border-color: orange;
}
.strategyCardPolitics {
    border-color: yellow;

}
.strategyCardConstruction {
    border-color: green;
}
.strategyCardTrade {
    border-color: darkcyan;
}
.strategyCardWarfare {
    border-color: lightblue;
}
.strategyCardTechnology {
    border-color: blue;
}
.strategyCardImperial {
    border-color: purple;
}
