@import "../../../../resources/styles/vars.scss";

.selectPrimaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marginTop {
  margin-top: $marginLarge;
}

.primaryContainer {
  width: 100%;
}

.primaryChoiceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionButtonsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: $marginLarge;
}
