@import "../vars.scss";

.info-modal-bg {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #603040a0;
  z-index: 99;
  outline: none;
  overscroll-behavior: contain;

  animation-duration: 0.3s;
  animation-name: info-modal-bg-appear;
}

.info-modal {
  position: relative;
  width: min(100%, 35rem);
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
  padding: 2rem;
  background: black;
  border: solid 0.2rem white;
  border-radius: 2rem;
  box-sizing: border-box;

  animation-duration: 0.5s;
  animation-name: info-modal-appear;

  @media (min-width: $width-medium) {
    max-width: 35rem;
  }
}

@keyframes info-modal-bg-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes info-modal-appear {
  0% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}
